body {

}

header ul {
    padding-left: 0;
}

header li {
    background-color: blue;
    border: 2px dotted blue;
    display: inline;
    padding: 1cm;
}

header li:hover {
    background-color: maroon;
}

header a {
    color: white;

}

section a {
    border: 2px solid green;
}