body {

}

header li {
    background-color: blue;
    display: inline;
}

header a {
    background-color: blue;
    color: white;
    padding: 1cm;
    text-decoration: none;
}

header a:hover {
    background-color: maroon;
}


section a {
    border: 2px solid green;
}