body {
    font-size: 1.2rem;
    background-image: url("background.jpg");
    background-size: cover;
    margin: 0 auto;
  }
  
/* set up responsive background */
@media only screen and (max-width: 600px) {
    body {
    background-image: url("background_mobile.jpg");
    background-size: cover;
    }
}

/* set up page margin for headings and paragraph */
header figure,h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: rgb(31, 69, 110);
    display: flex;
    justify-content: center;
}

header h2 {
    margin-bottom: 5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: rgb(139, 139, 139);
    display: flex;
    justify-content: center;
}

header ul {
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

/* responsive set up for navigation */
@media only screen and (max-width: 600px) {
    header ul {
    padding-top: 3rem;
    padding-bottom: 5rem;
    flex-direction: column;
    width: 15ch;
    margin: 0 auto;
    }

    header li {
    padding: 1rem;
    font-size: 1.3rem;
    text-align: center;
    }
}

header a {
    color: black;
    text-decoration: none;
}

header a:hover {
    background-color: rgb(31, 69, 110);
    color: white;
    font-weight: bold;
}

/* Properties for headings and paragraph */
section h2 {
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700; 
    color: rgb(31, 69, 110);
    display: flex;
    justify-content: center;
    padding-left: 0;
}

section h3 {
    margin-top: 2rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 700;
    display: flex;
    margin-top: 3rem;
}

section p {
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
}

section#about {
    border-top: 3px inset rgb(171, 203, 237);
    border-bottom: 3px inset rgb(31, 69, 110);
    border-radius: 3rem;
    margin-top: 5rem;
}

section#about h2 {
    margin-top: 5rem;
}
section#about p {
    margin-bottom: 5rem;
}

/* Properties for headings and paragraph in responsive mode */
@media only screen and (max-width: 600px) {
section#about h2 {
    margin-top: 5rem;
}
    section#about p {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 18px;
    text-align: left;
}
section#work h3 {
    width: 23ch;
    margin: 0 auto;
}
section#work p {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 18px;
    text-align: left;
}
section#contact p {
    font-size: 1.2rem;
    margin: auto;
    padding-bottom: 2rem;
}
}

/* images set up */
section#work figure {
    margin: 0;
    padding-top: 3rem;
}

section#work .row {
    display: flex;
}

/* adding special effect for the image when hover */
section#work .column {
    flex: 33.33%;
    padding: 0.3rem;
    transition: 1s ease;
}

section#work .column img:hover {
    transform: scale(1.2);
    transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

section#work figcaption {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

section#contact {
    background-color: rgb(31, 69, 110);
}

section#contact h2 {
    color: white;
    padding-top: 5rem;
}

section#contact p {
    color: white;
    text-align: center;
    margin: 3rem;
}

section#contact table {
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    background-color: rgb(31, 69, 110);
    text-align: center;
    table-layout: fixed;
    color: white;
    width:60%; 
    margin: 0 auto;
}
  
section#contact table th {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

section#contact table td a {
    color: rgb(178, 178, 178);
    text-decoration: none;
}

section#contact table td a:hover {
    color: white;
    font-weight: bold
}

section#back h3 {
    padding-top: 4rem;
    padding-bottom: 1rem;
    background-color: rgb(31, 69, 110);
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

section#back a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1rem;
    text-decoration: underline;
}

/* property for footer */
footer {
    padding-bottom: 2rem;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(31, 69, 110);
    color: white;
    text-align: center;
}
